* {
    font-family: 'Hind Madurai', sans-serif;
    margin: 0;
    padding: 0; }

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:3;
    background: #fff;
    box-shadow: 0px 0px 5px 1px grey;
}
  
.nav-group{
    padding-left: 4rem;
    padding-right: 4rem;
}

.navbar-logo img {
    width: 50px;
}

.menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
  
.nav-wrapper{
    display: flex;
    align-items: center;
}
  
ul {
    list-style: none;
}
  
.menu li{
    margin: 0 0.5rem;
    display: inline-block;
    font-weight: bold;
}
  
.flex-shrink-none {
    flex-shrink: 0;
}
  
.right {
    margin-left: auto;
}
  
.right-menu {
    display: flex;
    align-items: center;
}

.right *{
    margin:0 0.5rem;
}
  
.link {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: inline-block;
    text-decoration: none;
    color: #000;
}
  
.link:hover, .find-store:hover {
    color:#008248;
}
  
.active {
    border-bottom: 3px solid #008248;
}
  
.btn {
    height: auto;
    border-radius: 2rem;
    border: 1px solid black;
    padding: 6px 16px;
    font-family: Cabin, sans-serif;
    font-weight: bold;
}
  
.join-now{
    background: #000;
    color: #fff;
}

.find-store {
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
.sign-in:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}
  
.join-now:hover{
    cursor: pointer;
    background:#242424;
}
  
.main-content {
    height:100%;
    margin-top:6rem;
}

.fixed-green-bar {
    background: #1e3932;
    color: white;
    padding: 10px 0;
    padding-left: 7%;
    position: fixed;
    text-transform: uppercase;
    font-weight: 800;
    width: 100%;
    font-size:0.9rem;
    letter-spacing: 1.5px;
    top: 88px;
    z-index: 0;
}

.main-content {
    height:100%;
    margin-top:6rem;
} 

.starImage {
    background-image: url("images/star-desktop.webp");
    background-color: rgb(212, 233, 226);
    height: 50%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 620px;
    width: 100vw;
}
  
  .star-content {
    position: absolute;
    top: 30%;
    left: 5%;
}
  
  .bigText {
    font-size: 2rem;
    font-weight: bold;
}

.star-join-now {
    background: #008248;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    height: auto;
    border-radius: 2rem;
    padding: 6px 16px;
    font-weight: bold;
}

.gettingstarted {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-left: 5rem;
    margin-right: 5rem;
    grid-gap: 3rem;
    margin-bottom: 2rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.gettingstarted-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}

@media only screen and (max-width: 320px) {
    .gettingstarted-title {
        font-size: 1.7rem;
    }
}

.gettingstarted-bio {
    text-align: center;
    font-size: 1.2rem;  
}

.gettingstarted-grid {
    grid-gap: 1rem;
    display: grid;
    grid-template-rows: repeat(3, auto-fit); 
}

.gettingstarted-grid--img {
    width: 3rem;
    height: 3rem;   
    margin: 0 auto;    
}

.gettingstarted-grid--title {
    font-size: 1.3rem;
    margin: 0 auto;
    text-align: center;
}

.gettingstarted-grid--para {
    font-size: 1.2rem;
    text-align: center;
}

.tab1-content {
    opacity: 0;
    display: none;
    transition: all .5s;
}
  
.check2:checked + .tab1-content {
    opacity: 1;
    display: grid;
}

.check3:checked + .tab1-content {
    opacity: 1;
    display: grid;
}
  
.check4:checked + .tab1-content {
    opacity: 1;
    display: grid;
}
  
.check5:checked + .tab1-content {
    opacity: 1;
    display: grid;
}
  
.tab1-content,
.tab1-content1 {
    background-color: #d4e9e2;
    position: absolute;
    width: 100vw;
    height: 21rem;
    display: grid;
    grid-template-columns: max-content 500px;
    grid-template-rows: repeat(2, max-content);
    padding-top: 1.5rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    z-index: -11;
}


@media only screen and (max-width: 61.25em) {
    .tab1-content,
    .tab1-content1 {
        height: 23rem; 
    }
}

@media only screen and (max-width: 59.375em) {
    .tab1-content,
    .tab1-content1 {
        height: 25rem;
    }
}

@media only screen and (max-width: 43.75em) {
    .tab1-content,
    .tab1-content1 {
        height: 27rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .tab1-content,
    .tab1-content1 {
        height: 29rem;
    }
}

.tab1-content--image, .tab1-content--image1,
.tab1-content1--image,
.tab1-content1--image1 {
    grid-row: 2;
    grid-column: 1;
    width: 22rem;
    height: auto;
}

@media only screen and (max-width: 61.25em) {
    .tab1-content--image, .tab1-content--image1,
    .tab1-content1--image,
    .tab1-content1--image1 {
        grid-row: 3;
        grid-column: 2;
        width: auto;
        height: 12rem;
    }
}

@media only screen and (max-width: 20em) {
    .tab1-content--image, .tab1-content--image1,
    .tab1-content1--image,
    .tab1-content1--image1 {
        width: auto;
        height: 10rem;
    }
}

.tab1-content--title, .tab1-content--title1,
.tab1-content1--title,
.tab1-content1--title1 {
    grid-row: 1;
    grid-column: 2;
    font-size: 1.6rem;
    margin-top: 2rem;
}

@media only screen and (max-width: 61.25em) {
    .tab1-content--title, .tab1-content--title1,
    .tab1-content1--title,
    .tab1-content1--title1 {
        font-size: 1.4rem;
        width: 80%;
        text-align: center;
    }
}

@media only screen and (max-width: 20em) {
    .tab1-content--title, .tab1-content--title1,
    .tab1-content1--title,
    .tab1-content1--title1 {
        font-size: 1rem;
    }
}

.tab1-content--para, .tab1-content--para1,
.tab1-content1--para,
.tab1-content1--para1 {
    grid-column: 2;
    width: 60%;
    margin-top: 1rem;
    grid-row: 2;
    font-size: 1.5rem;
    line-height: 2rem;
}

@media only screen and (max-width: 61.25em) {
    .tab1-content--para, .tab1-content--para1,
    .tab1-content1--para,
    .tab1-content1--para1 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 20em) {
    .tab1-content--para, .tab1-content--para1,
    .tab1-content1--para,
    .tab1-content1--para1 {
        font-size: 1.1rem;
    }
}
  
.favorites {
    margin-bottom: 3rem;
}

.favorites-tabs {
    background-color:#f1f8f6;
    width: 100vw;
    transition: all .5s;
    position: relative;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.24);
}

.favorites-title {
    text-align: center;
    height: 6rem;
    padding-top: 2.5rem;
    background-color: #f1f8f6;
}

@media only screen and (max-width: 320px) {
    .favorites-title {
        font-size: 1.3rem;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
}

.favorites-label {
    font-size: 1.8rem;
    position: relative;
    left: 35%;
    right: 50%;
    transform: translate(-35%, -50%);
    display: inline;
    margin-right: 1rem;
    cursor: pointer;
}

.favorites-label:active::after {
    content: " ";
    display: inline-block;
    width: 3rem;
    height: 0.3rem;
    background-color: #008248;
    position: absolute;
    top: 2.1rem;
    right: 1rem;
}

.favorites-label:hover {
    color: #008248;
}

@media only screen and (max-width: 820px) {
    .favorites-label {
        left: 25%;
    }
}

@media only screen and (max-width: 730px) {
    .favorites-label {
        left: 30%;
    }
}

@media only screen and (max-width: 700px) {
    .favorites-label {
        left: 25%;
    } 
}

@media only screen and (max-width: 37.5em) {
    .favorites-label {
        left: 13%;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 420px) {
    .favorites-label {
        left: 10%;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 375px) {
    .favorites-label {
        left: 5%;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 20em) {
    .favorites-label {
        font-size: 1rem;
    }
}

.favorites-label span {
    color: #cba258;
    font-size: 1.1rem; 
}
  
[class^="check"] {
    opacity: 0;
    display: none;
}

.extras {
    position: relative;
    top: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 10rem;
}

@media only screen and (max-width: 40.625em) {
    .extras {
        margin-top: 15rem; 
    }
}

.extras-title {
    text-align: center;
    font-size: 3rem;
}

@media only screen and (max-width: 320px) {
    .extras-title {
        font-size: 2.3rem;
    }
}

.extras-para {
    text-align: center;
}

.extras-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 2rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.extras-container--item {
    display: grid;
    grid-template-rows: max-content min-content min-content max-content;
    grid-row-gap: 1rem;
    margin-bottom: 2rem;
}

.extras-container--item-img {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
}

.extras-container--item-title {
    margin: 0 auto;
    font-size: 1.6rem;
}

.extras-container--item-paragraph {
    margin: 0 auto;
    text-align: center;
}

.extras-container--item-btn {
    width: 30%;
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    text-decoration: none;
    transition: all .7s;
    color: black;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #006241;
    color: white;
}

.extras-container--item-btn:hover {
    background-color: var(--off-white);
    color: black;
}
.cash-or-credit {
    position: relative;
    top: 25rem;
    background-color: #f3f1e7;
    height: 105vh;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
}

@media only screen and (max-width: 92.375em) {
    .cash-or-credit {
        margin-bottom: 2rem;
        height: 100%;
    }
}

@media only screen and (max-width: 40.625em) {
    .cash-or-credit {
        margin-bottom: 5rem;
        height: 100%;
    }
}

.cash-or-credit-title {
    text-align: center;
    font-size: 2rem;
}

@media only screen and (max-width: 20em) {
    .cash-or-credit-title {
        font-size: 1.5rem;
    }
}

.cash-or-credit-para {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.6rem;
}

.cash-or-credit-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin-left: 4rem;
    margin-right: 4rem;
    grid-row-gap: 2rem;
}

@media only screen and (max-width: 92.375em) {
    .cash-or-credit-container {
    grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 40.625em) {
    .cash-or-credit-container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.cash-or-credit-container--item {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-column-gap: 1rem;
}

.cash-or-credit-container--item-text {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-column-gap: 1rem;
}

@media only screen and (max-width: 25em) {
    .cash-or-credit-container--item-text {
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        grid-template-columns: 1fr;
    }
}

.cash-or-credit-container--item-text-txt {
    font-size: 1.5rem;
}

@media only screen and (max-width: 25em) {
    .cash-or-credit-container--item-text-txt {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 92.375em) {
    .cash-or-credit-container--item-text {
        background-color: var(--white);
        border-radius: 5px;
        padding: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}

.cash-or-credit-container--item-img {
    width: 7rem;
    height: auto;
}

@media only screen and (max-width: 25em) {
    .cash-or-credit-container--item-img {
        width: 6rem;
        height: auto;
    }
}

.cash-or-credit-container--item-txt {
    font-size: 1.5rem;
}

@media only screen and (max-width: 25em) {
    .cash-or-credit-container--item-txt {
        font-size: 1rem;
    }
}